@import '../../colors';

:host {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  .container {
    display: block;
    padding: 60px 100px;
  }

  .add-new-list-btn {
    min-width: 272px;
    background: rgba(255, 255, 255, 0.25);
    border: unset;
    text-align: left;
    transition: 0.2s all ease-out;
    &:hover {
      background: rgba(255, 255, 255, 0.45);
    }
  }

  ::ng-deep {
    .colors {
      background: #8f548f;
    }
  }
}
