  <p-card class='list-container'>
      <p-overlayPanel #op>
        <ng-template pTemplate>
          <ul>
            <li><a (click)='deleteList()'>Archive this list</a></li>
          </ul>
        </ng-template>
      </p-overlayPanel>
    <div class='flex justify-content-between align-items-center'>
      <div class='list-header'>{{ list.name }}</div>
      <button pButton icon='pi pi-ellipsis-h' class='settings-btn p-button-text p-button-secondary' (click)="op.toggle($event)"></button>
    </div>

    <div class='list-wrapper'>

      <ng-container *ngIf='(tasks$ | async) as tasks'>
        <div class='task-items' cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]='tasks'>
          <app-task-item *ngFor='let task of tasks' [task]='task' cdkDrag [cdkDragData]='task'></app-task-item>
        </div>
      </ng-container>

      <div class='list-footer'>
        <button *ngIf='!addNewCard; else showTextarea' (click)='addNewCard = !addNewCard' pButton label="Add a task" icon="pi pi-plus" iconPos="left" class="p-button-text p-button-plain add-card"></button>
        <ng-template #showTextarea>
            <app-new-item [type]='"textarea"' [btnText]='"Add a task"' [placeHolder]='"Enter a title for this card..."' (onClickAddBtn)='addNewTask()' (onClickCancel)='addNewCard = !addNewCard' (valueChanged)='onNewItemValueChange($event)'></app-new-item>
        </ng-template>
      </div>
    </div>
  </p-card>
