@import '../../../colors';

:host {
  min-width: 232px;
  ::ng-deep {
    .list-container {
      background-color: $main-gray;
      width: 272px;
      height: 100%;
      cursor: pointer;

      .list-wrapper > div:not(:last-child) {
        margin-bottom: 13px;
      }
      .list-header {
        color: #000;
        font-weight: 500;
      }
      &.p-element,
      .p-card-body {
        border-radius: 3px;
      }
      .p-card-body {
        background-color: $main-gray;
        padding: 10px 15px;
        .p-card-content {
          padding: 0;
          display: flex;
          flex-direction: column;
          .settings-btn {
            align-self: flex-end;
          }
        }
      }
      app-task-item {
        display: block;
        .p-card,
        .p-card-body {
          background-color: #fff;
          min-height: 73px;
        }
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
      .new-card-textarea,
      .add-card {
        width: 100%;
      }
      .add-card {
        padding: 8px 12px;
        &:hover {
          background-color: #091e4214 !important;
          color: #172b4d !important;
        }
        .p-button-label {
          text-align: left;
        }
      }
    }
  }
}
